body{
    margin: 0;
    padding: 0;
    background: black;
}

a{
    text-decoration: none;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
header{
    background: #292229;
}
ul.top-list{
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}
ul.top-list li{
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: #fff115;
}

.grid-main{
    display: grid;
    height: calc(100vh - 60px);
    grid-template-columns: 1fr 3fr 1fr;
}
#sort{
    visibility: hidden;
    margin: 20px 0;
    padding: 17px 28px;
    border-radius: 50px;
    border: 1px solid aqua;
    outline: none;
    background: transparent;
    letter-spacing: 4px;    
    text-transform: uppercase;
    font-weight: bolder;    
    color: azure;
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: .5s;
}
button#sort:hover,
button#sort:active,
button#sort:focus{
    background: aqua;
    color: black;
    border: 2px solid #000;
    margin: 19px 0;
    text-shadow: 0 0 5px #292929;
    box-shadow: inset 0 0 10px #292929;
}
button#sort:disabled{
    cursor: not-allowed;
    opacity: .5;
}
#newArray{
    margin: 20px 0;
    border: none;
    outline: none;
    background: transparent;
    color: azure;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: .5s;
}
#newArray:hover{
    color: aqua;
}
.sidebar{
    margin: 0;
    padding: 10px;
    background: rgb(41, 41, 41);
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#left{
    justify-content: flex-end;
    align-items: flex-start;
}
#right{
    justify-content: center;
    align-items: center;
}
#right div{
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    margin: .6em;
    cursor: pointer;
    padding: 10px;
    transition: .3s;
}
#right .sorting-list div:hover{
    color: coral;
}
#right .sorting-list div.selectedAlgo{
    color: coral;
}
@media screen and (max-width: 768px){
    #right div{
        font-size: 14px;
    }
    #left{
        font-size: 14px;
    }
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 30%;
    background: #91a9ff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #0238ff;
    box-shadow: inset 0 0 2px #0238ff;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
#center{
    display: flex;
    align-items: flex-end;
    padding: 0 20px;
}

.disabled{
    color: #f00 !important;
    cursor: not-allowed !important;
}

.info{
    padding: 0 10px;
    font-family: monospace;
    color: #ff8115;
}

.imp{
    color: orange;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 1.5em;;
}

ul.algo-overview{
    padding: 0;
    display: flex;
    margin: 0;
    flex-direction: column;
}

ul.algo-overview li{
    list-style: none;
    padding: 0 5px;
    margin: .5em;
    font-family: monospace;
    font-size: .89em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #07f4ff;
}
ul.algo-overview li span{
    color: #0897fd;
    font-size: 1em;
    text-transform: none;
}
#note{
    margin: 0;
    padding: 0;
}
#note > p{
    margin: 0;
    padding: 0;
    font-size: .7rem;
    text-transform: initial;
    color: #07f4ff;
}
#note > p span{
    color: #ff8115;
    background-color: navy;
}
label{
    font-family: monospace;
    font-size: 1.2rem;
    padding: 0 5px;
    text-transform: capitalize;
}